disable_service q-l3
NEUTRON_CREATE_INITIAL_NETWORKS=False

# Default routertype for Neutron routers
Q_CISCO_DEFAULT_ROUTER_TYPE=ASR1k_router

enable_service ciscocfgagent
enable_service q-ciscorouter
